@model FINALIMS.Models.UserLogin

@{
    Layout = null;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
        <link href="~/CSS/bootstrap.min.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="~/CSS/Login.css" rel="stylesheet" />
    </head>

    <body>
        <div class="row">
            <div class="col-lg-3 col-md-2"></div>
            <div class="col-lg-6 col-md-8 login-box">
                <div class="col-lg-12 login-key">
                    <i class="fa fa-key" aria-hidden="true"></i>
                </div>
                <div class="col-lg-12 login-title">
                    Login To Your Session
                </div>

                <div class="col-lg-12 login-form">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, "Email", htmlAttributes: new { style = "font-size:24px", @class = "form-control-label" })

                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Your Email." } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Password, htmlAttributes: new { style = "font-size:24px", @class = "form-control-label" })
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Your password." } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.RememberMe, "Remember Me :", htmlAttributes: new { style = "font-size:12px", @class = "form-control-label" })
                        <div class="check-box">
                            @Html.EditorFor(model => model.RememberMe)
                            @Html.ValidationMessageFor(model => model.RememberMe, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-lg-6 login-btm login-button">
                        <input id="login_btn" type="submit" value="Login" class="btn btn-outline-primary" />
                    </div>
                    <div class="Signup">
                        @Html.ActionLink("Back Home", "Home", "Index")
                    </div>
                </div>
            </div>
        </div>
    </body>
    @*if (ViewBag.Message != null)
        {
            <div class="alert alert-danger">
                <strong> Error! </strong>@ViewBag.Message
            </div>
        }*@
}
@section Script{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
}
